body {
    background-color: coral;
}

header {
    background-color: rgb(66, 66, 66);
    height: 100px;
}

h1 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    color: rgb(236, 240, 0);
    text-align: center;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    color:rgb(0, 0, 0);
}

p {
    text-align: center;
    font-family: Impact;
    font-size: 20px;
}
img {
    text-align: center;
}